/* ===== Mixin ===== */

$white: #FFFFFF;
$black: #423A36;
$footer_upper: #292024; //#5c1659
$footer_lower: #423A36;
$purple: #5c1659;

@mixin transition {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}


/* ===== Universe ===== */

html {
  body {
    background-image: url("../images/home.png");
    background-size: auto;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}


/* ===== Header ===== */

header {
  .navbar {
    background: transparent;
    border: 0;
    padding: 0px;
    min-height: 110px;
    .navbar-toggler {
      color: $white;
    }
    .navbar-brand {
      color: $white;
      font-weight: bold;
      font-family:'ChannelSlanted2';
      font-size: 26px;
      @media (max-width: 576px) {
        font-size: 20px;
      }
      img {
        width: 160px;
      }
    }
    .navbar-nav {
      li {
        color: $white;
        margin: 30px 0 30px 40px;
        a {
          padding: 4px 0 4px 0;
          border-bottom: 3px solid transparent;
          color: $white;
          font-weight: bold;
          font-size: 16px;
          @include transition;
          &:hover {
            color: $white;
            border-bottom: 3px solid $white;
            @include transition;
          }
          &:visited {
            color: $white;
          }
        }
        img {
          cursor: pointer;
        }
      }
    }
  }
}


/* ===== Footer ===== */

footer {
  color: $white;
  p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  .upper {
    background: $footer_upper;
    padding: 50px 0 50px 0;
    .wrapper {
      margin: 30px 0;
      @media (max-width: 576px) {
        text-align: center;
      }
      .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .navbar-brand {
        color: $white;
        font-family:'ChannelSlanted2';
        font-size: 20px;
        margin-top: 10px;
        img {
          width: 180px;
        }
      }
    }
  }
  .lower {
    background: $footer_lower;
    padding: 5px 0;
    p {
      @media (max-width: 576px) {
        text-align: center;
      }
    }

    .icons {
      margin-top: 2px;
      margin-bottom: 0;
      text-align: right;
      @media (max-width: 576px) {
        text-align: center;
        margin-top: 20px;
      }
      .icon {
        margin: 0 5px;
        display: inline-block;
        i {
          font-size: 25px;
        }
      }
    }
  }
}


/* ===== Home ===== */
.page-home {
  hr {
    border-bottom: 4px solid $black;
    width: 75px;
    margin-bottom: 50px;
  }
  #home {
    min-height: 640px;
    color: $white;
    .highlight {
      padding-top: 120px;
      @media (max-width: 576px) {
        padding-top: 75px;
      }
      .title {
        font-size: 24px;
        font-weight: bold;
        padding: 0 20px;
      }
      .content {
        margin-top: 30px;
        font-size: 18px;
        line-height: 30px;
      }
      .btn-about-us {
        margin: 40px 0 20px 0;
        padding: 18px 30px;
        border: 2px solid $white;
        font-size: 14px;
        display: inline-block;
        color: $white;
        @include transition;
        &:hover {
          background: $white;
          color: $purple;
          @include transition;
        }
      }
    }
    .logo {
      margin: 40px 0 80px 0;
      width: 600px;
      @media (max-width: 576px) {
        width: 350px;
      }
    }
  }
  #about {
    padding: 120px 0;
    background: $white;
    .title {
      font-weight: bold;
      font-size: 36px;
    }

    p {
      line-height: 30px;
      font-size: 16px;
    }
  }
  #services {
    padding: 120px 0;
    background: $black;
    .title {
      font-weight: bold;
      font-size: 36px;
      color: $white;
    }
    hr {
      border-bottom: 4px solid $white;
    }
    .items {
      color: $white;
      margin-top: 50px;
      .item {
        text-align: center;
        padding: 0 0 50px 0;
        .icon {
          display: inline-block;
          border: 2px solid $white;
          padding: 27px 0;
          width: 130px;
          font-size: 48px;
          border-radius: 65px;
          @include transition;
          &:hover {
            background: $white;
            color: $black;
          }
        }

        .name {
          margin-top: 20px;
          font-size: 16px;
        }
      }
    }
  }
  #gallery {
    padding: 120px 0;
    background: $white;
    .title {
      font-weight: bold;
      font-size: 36px;
      color: $black;
    }
    p {
      line-height: 30px;
      font-size: 16px;
      margin-top: 50px;
      color: $black;
    }
    .pics {
      margin-top: 60px;
      .hide {
        display: none;
      }
      .pic {
        width:100%;
        height:0;
        padding-bottom: 56%;
        overflow:hidden;
        margin-bottom: 30px;
        .up {
          margin-top: -80px;
        }
        img {
          cursor: pointer;
        }
      }
    }
    .btn-more {
      margin-top: 60px;
      padding: 15px 20px;
      border: 2px solid $black;
      color: $black;
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      @include transition;
      &:hover {
        background: $black;
        color: $white;
        @include transition;
      }
    }
  }

  #team {
    padding: 120px 0;
    background: $black;
    color: $white;
    .title {
      font-weight: bold;
      font-size: 36px;
      color: $white;
    }
    hr {
      border-bottom: 4px solid $white;
    }
    .member {
      .avatar {
        margin-bottom: 20px;
        position: relative;
        img {
          position: relative;
          width: 150px;
          border-radius: 75px;
          z-index: 0;
        }
        .layer {
          z-index: 1;
          border-radius: 75px;
          display: inline-block;
          position: absolute;
          width: 150px;
          padding: 75px;
          background: transparent;
          cursor: pointer;
          @include  transition;
          &:hover {
            @include transition;
            background: $black;
            opacity: 0.6;

          }
        }
      }
      .name {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
}

