<div class="upper">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-3">
        <div class="contact">
          <div class="title"><span data-localize="header.contact"></span></div>
          <p>
            <span data-localize="company"></span>
            <br>
            221B Baker Street
            <br>
            020-1234-088
            <br>
            example@wisteriaclub.com
          </p>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3">
        <div class="title"><span data-localize="header.services"></span></div>
        <p>
          <span data-localize="services.hand_painting"></span>
          <br>
          <span data-localize="services.celebration"></span>
          <br>
          <span data-localize="services.signing"></span>
          <br>
          <span data-localize="services.performance"></span>
          <br>
          <span data-localize="services.charity"></span>
          <br>
          <span data-localize="services.communication"></span>
          <br>
          <span data-localize="services.planning"></span>
        </p>
      </div>
      <div class="col-xs-4 col-sm-3">
        <div class="title" data-localize="footer.site_map"></div>
        <p>
          <a href="/" data-localize="header.home" onclick="scrollToSection('#home'); return false;"></a>
          <br>
          <a href="/about" data-localize="header.about" onclick="scrollToSection('#about'); return false;"></a>
          <br>
          <a href="/services" data-localize="header.services" onclick="scrollToSection('#services'); return false;"></a>
          <br>
          <a href="/gallery" data-localize="header.gallery" onclick="scrollToSection('#gallery'); return false;"></a>
          <br>
          <a href="/contact" data-localize="header.contact" onclick="scrollToSection('#contact'); return false;"></a>
        </p>
      </div>
      <div class="col-sm-3 col-xs-12 text-right">
        <a href="/" id="company" data-localize="footer.company" class="navbar-brand"></a>
      </div>
    </div>
  </div>
</div>
<div class="lower">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p data-localize="footer.bottom_line"></p>
      </div>
      <div class="col-md-3">
        <ul class="nav icons justify-content-end">
          <li class="nav-item icon"><i class="fab fa-facebook-square"></i></li>
          <li class="nav-item icon"><i class="fab fa-twitter-square"></i></li>
          <li class="nav-item icon"><i class="fab fa-weibo"></i></li>
          <li class="nav-item icon"><i class="fab fa-weixin"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
      if (getCookie(name) == "cn") {
          $("#company").html("<img src='assets/images/name_white.png'>")
      } else if (getCookie(name) == "en") {
          $("#company").html("Wisteria Club")
      }
  })
</script>