<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div id="company" class="navbar-brand"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li><a href="/" data-localize="header.about" onclick="scrollToSection('#about'); return false;">About Us</a></li>
        <li><a href="/" data-localize="header.services" onclick="scrollToSection('#services'); return false;">Services</a></li>
        <li><a href="/" data-localize="header.gallery" onclick="scrollToSection('#gallery'); return false;">Moments</a></li>
        <li><a href="/" data-localize="header.contact" onclick="scrollToSection('#contact'); return false;">Contact Us</a></li>
        <li>
          <img src="assets/images/webp/cn.webp" alt="" onclick="chgLang('cn');"> / <img src="assets/images/webp/us.webp" alt="" onclick="chgLang('en');">
        </li>
      </ul>
    </div>
  </nav>
</div>

<script>
  $(function () {
      if (getCookie(name) == "cn") {
          $("#company").html("<img src='assets/images/webp/name_white.webp'>")
      } else if (getCookie(name) == "en") {
          $("#company").html("Wisteria Club")
      }
  })
  function scrollToSection(name) {
    $("html, body").animate({scrollTop: $(name).offset().top}, 500);
  }
</script>